<!DOCTYPE html>
<html lang="en">
  <head>
    <meta  charset="UTF-8">
    <title>CRUD</title>
  </head>
  <body>
      <form name="fChiTiet" action="/create" method="POST">
        <p><input type="text" name="txtTenSP" placeholder="Nhap ten sp"></p>
        <p><input type="file" name="txtHinh" ></p>
        <p><input type="text" name="txtGia" placeholder="Nhap gia sp"></p>
        <p><input type="text" name="txtLoaiID" placeholder="Ma Loai sp"></p>
        <p>
          <button type= "submit">Them moi</button>
        </p>
      </form>
  </body>
</html>
